{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Order {{order_no}}| Pay{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="cust_no">Customer Number (WHO's PAYING ?)</label>
    <input name="cust_no" id="cust_no" type="hidden" value="{{cust_no}}">
    <input type="text" value="{{cust_no}}" disabled>
    <input type="submit" value="Pay">
  </form>
  <hr>
  <form action="{{ url_for('order_index')}}" method="get">
    <input class="danger" type="submit" value="Cancel" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
