{% extends 'base.html' %}

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
{% block header %}
<h1>{% block title %}Clients{% endblock %}</h1>
<a class="action" href="{{ url_for('client_create') }}">Create new Client</a>
{% endblock %}

{% block content %}
<form action="{{ url_for('client_index') }}" method="GET" class="search-form">

  {% if isSearch %}
  <div>
    <input type="text" name="query" class="search-input" placeholder={{ query }}>
    <button type="submit" class="search-submit">Search</button>
  </div>
  <div>
    <button type="submit" href="/client" class="search-reset">reset</button>
    <h3>Search Result {{ numberSearch }}</h3>
  </div>
  {% else %}
  <div>
    <input type="text" name="query" class="search-input" placeholder="type here">
    <button type="submit" class="search-submit">Search</button>
  </div>
  {% endif %}
</form>
{% for client in clients %}

<div class="post_w_settings">
  <article class="post">
    <header>
      <div>
        <h1>{{ client['cust_no'] }} - {{ client['name'] }}</h1>
        <div class="about">in {{ client['address'] }}</div>
      </div>
    </header>
    <p class="body">☏ {{ client['phone'] }}</p>
  </article>
  <div class="post_settings">
    <a class="action" href="{{ url_for('client_update', client_number=client['cust_no']) }}">Edit</a>
    <form action="{{ url_for('client_delete', client_number=client['cust_no']) }}" method="post">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
  </div class="post_settings">
</div>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% if not isSearch %}
<div class="button-container">
  {% if page_number > 1 %}
  <a href="/clients/{{page_number-1}}" class="navigation-button">&lt;</a>
  {% endif %}
  <p class="navigation-button page-indicator">Page {{page_number}}</p>
  {% if clients %}
  <a href="/clients/{{page_number+1}}" class="navigation-button">&gt;</a>
  {% endif %}
  <!-- Add more navigation buttons as needed -->
</div>
{% endif %}
{% endblock %}