{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Client {{ client['cust_no'] }} | Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form>
    <label for="client_number">Client Number</label>
    <input name="client_number" id="client_number" type="text" value="{{ request.form['cust_no'] or client['cust_no'] }}" disabled>
    <label for="name">Name</label>
    <input name="name" id="name" type="text" min="0"  value="{{ request.form['name'] or client['name'] }}" disabled>
    <label for="email">Email</label>
    <input name="email" id="email" type="text" min="0"  value="{{ request.form['email'] or client['email'] }}" disabled>
    <label for="phone">Phone</label>
    <input name="phone" id="phone" type="number" min="0" value="{{ request.form['phone'] or client['phone'] }}" disabled>
    <label for="address">Address</label>
    <input name="address" id="address" type="text" min="0" value="{{ request.form['address'] or client['address'] }}" disabled>
  </form>
  <hr>
  <form action="{{ url_for('client_delete', client_number=client['cust_no']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?\nYou will also delete:\nAll orders of the client\n');">
  </form>
{% endblock %}  
